# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
tools/pocketbase/pocketbase
tools/pocketbase/pb_data
tools/pocketbase/pb_public
tools/pocketbase/CHANGELOG.md
tools/pocketbase/LICENSE.md
tools/.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
