.button {
    border: 2px solid #4c4cff;
    background: linear-gradient(45deg, #801ab2 0%, #4c4cff 100%);
    border-radius: 8px;
    height: 56px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}