.title {
  font-weight: 800;
}

.form {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.input {
  font-size: 20px;
  flex-grow: 1;
  height: 56px;
  border-radius: 8px;
  padding: 0 10px;
}

.container {
  max-width: 800px;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button {
  border: 2px solid #4c4cff;
  border-radius: 8px;
  height: 56px;
  color: #4c4cff;
  text-transform: uppercase;
  font-size: 16px;
}
